Assets/Prefabs.meta filter=lfs diff=lfs merge=lfs -text
Assets/Scenes filter=lfs diff=lfs merge=lfs -text
Assets/Scenes.meta filter=lfs diff=lfs merge=lfs -text
Assets/Scripats filter=lfs diff=lfs merge=lfs -text
Assets/Scripats.meta filter=lfs diff=lfs merge=lfs -text
Assets/Animations filter=lfs diff=lfs merge=lfs -text
Assets/Animations.meta filter=lfs diff=lfs merge=lfs -text
Assets/Prefabs filter=lfs diff=lfs merge=lfs -text
ProjectSettings/VersionControlSettings.asset filter=lfs diff=lfs merge=lfs -text
ProjectSettings/XRSettings.asset filter=lfs diff=lfs merge=lfs -text
ProjectSettings/InputManager.asset filter=lfs diff=lfs merge=lfs -text
ProjectSettings/ProjectSettings.asset filter=lfs diff=lfs merge=lfs -text
ProjectSettings/SceneTemplateSettings.json filter=lfs diff=lfs merge=lfs -text
ProjectSettings/boot.config filter=lfs diff=lfs merge=lfs -text
ProjectSettings/Physics2DSettings.asset filter=lfs diff=lfs merge=lfs -text
ProjectSettings/QualitySettings.asset filter=lfs diff=lfs merge=lfs -text
ProjectSettings/UnityConnectSettings.asset filter=lfs diff=lfs merge=lfs -text
ProjectSettings/TagManager.asset filter=lfs diff=lfs merge=lfs -text
ProjectSettings/VFXManager.asset filter=lfs diff=lfs merge=lfs -text
ProjectSettings/DynamicsManager.asset filter=lfs diff=lfs merge=lfs -text
ProjectSettings/MemorySettings.asset filter=lfs diff=lfs merge=lfs -text
ProjectSettings/PresetManager.asset filter=lfs diff=lfs merge=lfs -text
ProjectSettings/EditorSettings.asset filter=lfs diff=lfs merge=lfs -text
ProjectSettings/GraphicsSettings.asset filter=lfs diff=lfs merge=lfs -text
ProjectSettings/NavMeshAreas.asset filter=lfs diff=lfs merge=lfs -text
ProjectSettings/NetworkManager.asset filter=lfs diff=lfs merge=lfs -text
ProjectSettings/PackageManagerSettings.asset filter=lfs diff=lfs merge=lfs -text
ProjectSettings/AudioManager.asset filter=lfs diff=lfs merge=lfs -text
ProjectSettings/ClusterInputManager.asset filter=lfs diff=lfs merge=lfs -text
ProjectSettings/EditorBuildSettings.asset filter=lfs diff=lfs merge=lfs -text
ProjectSettings/ProjectVersion.txt filter=lfs diff=lfs merge=lfs -text
ProjectSettings/TimeManager.asset filter=lfs diff=lfs merge=lfs -text
Packages/manifest.json filter=lfs diff=lfs merge=lfs -text
Packages/packages-lock.json filter=lfs diff=lfs merge=lfs -text
